.button {
    padding: 10px 20px;
    margin: 10px;
    width: 150px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
}

.counter {
    margin: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}